*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: var(--font-weight-normal);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Underline on hover/focus for accessibility */
a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-color: var(--primary);
  }

/* Styling for the active link */
[aria-current="page"] a,
[aria-current="page"] a:hover,
[aria-current="page"] a:focus {
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}




