/* A CSS comment */
@import url(reset.css);
@import url(variables.css);

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  text-align: left;
}

.decorative-line {
  height: 2px;
  width: 100%;
}

#practical-info-icon {
  margin: auto;
}

header {
  padding-top: 5em;
  padding-bottom: 2em;
}

.content__section-header {
  max-width: 80%;
  margin: auto;
}

.content__section-header > * {
  margin: auto;
}

.header-nav {
  background-color: var(--primary);
  height: 7rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar__content {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 95%;
  padding-right: 2em;
}



.navbar__content-item {
  background-color: var(--secondary-2);
  min-height: 7rem;
  white-space: normal;
  padding: 0em 1em;
  line-height: 7rem;
  width: 10em;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  gap: 3%;
}

.logo-primary {
  padding-top: 10px; /* Lower the logo */
  width: 80%; /* Adjust based on your logo size */
  height: auto; /* Maintain aspect ratio */
}

.navbar-smaller {
  padding: 0%;
}

/* Hide the second logo on larger screens if not needed */
.logo-secondary {
  display: none;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
}

#hero-img {
  margin: auto;
}

.content__section {
  width: 80%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1800px;
}

.content__section-90 {
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1800px;
}

.contact-card {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.contact-card-form {
  border-radius: 1rem 0rem 0rem 1rem;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.contact-card-form,
.map-container {
  flex: 1 1 50%; /* Allows shrinking and growing but starts with 45% to account for the gap */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.contact-card-form form {
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
}

.contact-card-form label,
.contact-card-form input[type="text"],
.contact-card-form input[type="email"],
.contact-card-form textarea,
.contact-card-form input[type="submit"] {
  width: 100%;
  margin: 10px 0;
  padding: 0.5em;
}

.contact-card-form input[type="submit"] {
  margin: auto;
  border: none;
  width: 100%;
  padding: 0.5em 0.5em;
  margin: 1em auto 0 auto;
  min-width: fit-content;
}

.map-container {
  position: relative;
  width: 100%;
  flex-grow: 1;
  border-radius: 0rem 1rem 1rem 0rem;
  min-height: 300px;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  border: 0;
}

.decorative-line--form {
  height: 2px;
  background: var(--accent);
  color: var(--white);
}

.form-text-input,
textarea {
  padding: 1em;
  background: none;
  border: none;
  margin-top: 10px;
  color: var(--accent);
  width: 100%;
  font-size: var(--font-size-l);
  word-break: break-all;
  caret-color: #e60073;
  resize: none;
}

@media (max-width: 1100px) {
  .contact-card-form,
  .map-container {
    flex-basis: 100%;
    min-height: 300px;
  }

  .contact-card-form label {
    padding: 0;
  }

  .contact-card-form input[type="submit"] {
    width: 60%;
  }
}

.index-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 2em;
}

.index-hero-element {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em;
}

.index-hero-element p {
  margin: 0;
  padding: 2em;
}

.index-hero-element img {
  width: 50%;
  object-fit: cover;
  flex: 1;
}

.index-news {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}

.index-news-element {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 5rem;
}

.index-news-element-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.index-news-element-text h3 {
  padding: 1rem;
}

.index-news-element-text p {
  padding: 2.5rem;
  height: 100%;
}

.index-news-element-img {
  flex: 1;
  width: 100%;
  height: auto;
}

.exhibition-gallery-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  padding: 3em 0;
  text-align: center;
}

.exhibition-gallery-element {
  font-family: var(--font-play);
  font-size: var(--font-size-xxl);
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.exhibition-gallery-element-name {
  background-color: var(--secondary-dark);
  color: var(--white);
  padding: 0.7em 0em;
  border: 5px solid transparent;
}

.exhibition-gallery-element-name:hover {
  transition: all 0.5s ease-in-out;
  color: black;
}

.evo-gradient {
  border-image: linear-gradient(var(--white), var(--yellow)) 1 stretch;
}

.evo-glow:hover {
  box-shadow: 0 0 50px var(--yellow);
  background-image: linear-gradient(var(--white), var(--yellow));
}

.bio-gradient {
  border-image: linear-gradient(var(--secondary), var(--primary)) 1 stretch;
}

.bio-glow:hover {
  box-shadow: 0 0 50px var(--primary);
  background-image: linear-gradient(var(--secondary), var(--primary));
}

.ai-gradient {
  border-image: linear-gradient(var(--accent), var(--accent-darkest)) 1 stretch;
}

.ai-glow:hover {
  box-shadow: 0 0 50px var(--accent);
  background-image: linear-gradient(var(--accent), var(--accent-darkest));
}

.eco-gradient {
  border-image: linear-gradient(var(--yellow), var(--primary)) 1 stretch;
}

.eco-glow:hover {
  box-shadow: 0 0 50px var(--primary);
  background-image: linear-gradient(var(--yellow), var(--primary));
}

.cosmo-gradient {
  border-image: linear-gradient(var(--accent), var(--yellow)) 1 stretch;
}

.cosmo-glow:hover {
  box-shadow: 0 0 50px var(--accent);
  background-image: linear-gradient(var(--accent), var(--yellow));
}

.exhibition-gallery-element p {
  padding: 1em;
}

.index-practical-info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  max-width: 600px;
  margin: 3em auto;
}

ul {
  padding: 0%;
}

.index-practical-info-list li {
  list-style-type: none;
  background-image: url(/Assets/Photos/bullet-points/Planet.png);
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 7rem;
  list-style-position: inside;
  line-height: 7rem;
}

.legal li {
  list-style-type: none;
  background-image: url(/Assets/Photos/bullet-points/Planet.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: auto;
  padding-left: 4em;
  margin-left: 1em;
  list-style-position: inside;
  line-height: 3.5em;
}

.index-practical-info-list-part {
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
}

.button {
  min-height: 7rem;
  max-width: 30em;
  width: 60%;
  padding: 1rem 5rem;
  text-wrap: wrap;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-play);
  margin: 2em auto 1em auto;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 30px var(--primary);
}

.cosmo-glow:hover {
  background-image: linear-gradient(var(--accent), var(--yellow));
}

footer {
  display: flex;
  flex-direction: column;
}

#footer-logo {
  position: absolute;
  margin: -5em auto 5em auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 5em 0 1em 0;
  max-width: 1800px;
  margin: auto;
}

.footer-hours-and-map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.opening-hours-background {
  display: flex;
  flex-direction: row;
  min-width: 300px; /* Minimum width before wrapping */
  max-width: 50px;
  gap: 4em;
  padding: 5em 55em 10em 5em;
  z-index: 0;
  position: relative;
  margin-right: -20%;
}

.opening-hours {
  display: flex;
  flex-direction: column;
}

.opening-hour {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-2); /* Optional: adds a line between items */
  padding: 1em 0; /* Adjust padding as needed */
}

.day,
.time {
  flex: 1; /* Allows the elements to expand, ensuring alignment */
  white-space: nowrap; /* Prevents wrapping */
}
.day {
  min-width: 12em; /* Ensures sufficient width for the day part; adjust as needed */
}

.time {
  text-align: right; /* Right-aligns the time */
}

.special-note .time {
  text-align: left; /* Adjusts alignment for notes without a time */
}

.footer-map {
  display: flex;
  flex-direction: column;
  flex: 2;
  z-index: 1;
}

.footer-map-container {
  position: relative;
  width: 100%;
  padding-top: 60%;
  height: 0;
  z-index: 1;
}

.footer-map-container iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.contact-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin: auto;
  line-height: 3em;
  gap: 1em;
  max-width: 1100px;
  padding: 0em 0em 1em 0em;
}

.contact-info-element {
  display: flex;
  gap: 1em;
  background: var(--secondary-3);
  border-radius: 15px;
  border: 2px;
  border-style: solid;
  border-color: var(--background);
  padding: 0.2em 2em 0.2em 0.5em;
  flex: 1 1 calc(25% - 3em); /* Adjust the flex-basis here */
  align-content: space-between;
  justify-content: space-between;
}

.contact-info-element img {
  height: 3em;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header__exhibitions,
.exhibition-item {
  scroll-snap-align: start;
}

.exhibition-item {
  max-width: 30em;
  height: fit-content;
  margin: auto;
  font-size: var(--font-size-xl);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 2em;
  padding-bottom: 1em;
}

.exhibition-item > * {
  padding: 0em 3em 0em 3em;
}

.exhibition-cosmology {
  background-image: url("/Assets/Photos/exhibitions/cos-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-cosmology {
  background: rgba(8, 6, 71, 0.7);
  color: var(--yellow);
}

.exhibition-evolution {
  background-image: url("/Assets/Photos/exhibitions/evo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-evolution {
  background: rgba(255, 252, 233, 0.7);
  color: var(--text);
}

.exhibition-ecology {
  background-image: url("/Assets/Photos/exhibitions/eco-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-ecology {
  background: rgba(239, 250, 193, 0.9);
  color: var(--text);
}

.exhibition-ai {
  background-image: url("/Assets/Photos/exhibitions/ai-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-ai {
  background: rgba(218, 221, 216, 0.9);
  color: var(--accent-darkest);
}

.exhibition-biology {
  background-image: url("/Assets/Photos/exhibitions/bio-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-biology {
  background: rgba(209, 208, 251, 0.9);
  color: var(--secondary-dark);
}

.info-card-section {
  text-align: center;
  font-family: var(--font-noto-sans);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5em;
  align-items: stretch;
  padding-bottom: 3em;
}

.info-card {
  flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis */
  min-width: 0; /* Prevents flex items from shrinking past content size */
  width: calc(100% / 3); /* Adjust the denominator based on the number of items per row you desire */
  max-width: 35em;
  min-width: 28em;
}

.info-card > * {
  padding: 1em 2em 1em 2em;
}
.info-card-title {
  font-size: var(--font-size-base);
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  padding: 0em 2em 0.8em 2em;
}

.info-card-text {
  font-size: var(--font-size-base);
  border-radius: 0rem 0rem 0.8rem 0.8rem;
  padding: 1em 3em 1em 3em;
  min-height: 20em;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.group-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  white-space: pre-line;
  gap: 5em;
  justify-content: center;
  max-width: 1600px;
  margin: auto;
  padding-bottom: 5em;
}

.group-info-card {
  display: flex;
  flex-direction: column;
  max-width: 32em;
}

.group-info-card-title {
  padding: 1em 1em;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  text-align: center;
}

.group-info-card-text {
  border-radius: 0rem 0rem 0.8rem 0.8rem;
  padding: 0em 3em 0em 3em;
  font-size: var(--font-size-l);
}



.group-info-card img {
  height: 150px;
  margin: auto;
}

.group-info-card-side {
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: center;
}

#people {
  margin: 5em auto 0em auto;
  height: 150px;
}

/* Get involved */
.get-involved-part-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-l);
}

.text-content-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  padding: 0em 1em 1em 1em;
  max-width: 50%;
  z-index: 2;
}

.image-content-1 {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0;
  margin-left: auto;
}

.image-content img {
  width: 100%;
  height: auto;
}

.get-involved-part-2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
  justify-content: space-between;
  flex-wrap: wrap;
}

.get-involved-2-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  max-width: 25em;
}

/* Adjustments for smaller screens */
@media (max-width: 1200px) {
  .get-involved-part-2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
  }

  .get-involved-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: 32em;
  }
}

/* Adjustments for smaller screens */
@media (max-width: 1000px) {
  .get-involved-part-1 {
    padding-bottom: 5em;
  }

  .text-content-1 {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%; /* Cover half of the screen on smaller screens */
    padding: 0px; /* Adjust padding for smaller screens */
  }

  .image-content-1 {
    width: 100%;
  }

  .get-involved-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: 90%;
  }
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .text-content-1 {
    position: absolute;
    top: -10%;
    left: 0;
    max-width: 60%;
    padding: 0.5em;
  }

  .image-content-1 {
    width: 100%;
  }

  .get-involved-part-1 {
    padding-bottom: 4em;
  }
}

/* Utilities */
/* Font Family */
.ff-noto-sans {
  font-family: var(--font-noto-sans);
}
.ff-play {
  font-family: var(--font-play);
  font-weight: var(--font-weight-normal);
}
.ff-revalia {
  font-family: var(--font-revalia);
}

/* Font Weight */
.fw-normal {
  font-weight: var(--font-weight-normal);
}
.fw-bold {
  font-weight: var(--font-weight-bold);
}

/* Font Size */
.fs-xs {
  font-size: var(--font-size-xs);
}
.fs-s {
  font-size: var(--font-size-s);
}
.fs-base {
  font-size: var(--font-size-base);
}
.fs-l {
  font-size: var(--font-size-l);
}
.fs-xl {
  font-size: var(--font-size-xl);
}
.fs-xxl {
  font-size: var(--font-size-xxl);
}

/* Text-alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.row-reverse {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

/* Colours */
/* Primary Colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-primary-2 {
  background-color: var(--primary-2);
}
.bg-primary-3 {
  background-color: var(--primary-3);
}
.bg-primary-4 {
  background-color: var(--primary-4);
}

/* Secondary Colors */
.bg-secondary {
  background-color: var(--secondary);
}
.bg-secondary-2 {
  background-color: var(--secondary-2);
}
.bg-secondary-3 {
  background-color: var(--secondary-3);
}
.bg-secondary-4 {
  background-color: var(--secondary-4);
}

.bg-secondary-dark {
  background-color: var(--secondary-dark);
}

/* Accent Colors */
.bg-accent {
  background-color: var(--accent);
}
.bg-accent-darker {
  background-color: var(--accent-darker);
}
.bg-accent-darkest {
  background-color: var(--accent-darkest);
}

/* Background */
.bg-background {
  background-color: var(--background);
}
.bg-background-darker {
  background-color: var(--background-darker);
}
.bg-hero {
  background-color: var(--hero-page);
}

/* Additional Colors */
.bg-white {
  background-color: var(--white);
}
.bg-silver {
  background-color: var(--silver);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-text {
  background-color: var(--text);
}

.clr-white {
  color: var(--white);
}

.center {
  margin: auto;
}

.padding-top-bottom-1em {
  padding: 1em 0;
}

.padding-top-bottom-2em {
  padding: 2em 0;
}

.padding-bottom-1em {
  padding-bottom: 1em;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.pre-line {
  white-space: pre-line;
  max-width: 65em;
}

@media (max-width: 2100px) {
  .opening-hours-background {
    padding: 5em 45em 5em 5em;
    margin-right: -15%;
  }
}

@media (max-width: 1900px) {
  .opening-hours-background {
    padding: 5em 40em 5em 5em;
    margin-right: -15%;
  }
}

@media (max-width: 1700px) {
  .opening-hours-background {
    padding: 5em 40em 5em 5em;
    margin-right: -15%;
  }
}

/* Further adjustments for smaller medium screens */
@media (max-width: 1600px) {
  .opening-hours-background {
    padding: 5em 32em 5em 5em;
    margin-right: -12%;
  }
}

@media (max-width: 1350px) {
  .opening-hours-background {
    justify-content: center;
    padding: 1em;
    margin-right: 0;
    max-width: none;
    gap: 2em;
  }

  .footer-hours-and-map {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-2);
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .footer-hours-and-map h3 {
    text-align: center;
  }

  .footer-map-container {
    width: 100%;
    padding-top: 0;
    height: auto;
    margin: 0 auto;
    padding-bottom: 5em;
  }

  .footer-map-container iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 400px;
    border: 0;
  }

  .footer-map {
    padding: 1em 1em 16em 1em;
  }

  .opening-hours {
    padding: 0;
    margin: 0;
  }

  .opening-hour {
    border-bottom: 1px solid var(--primary-2);
    padding: 1em 0;
  }

  .day,
  .time {
    flex: 1;
    white-space: nowrap;
    max-width: 100%;
  }

  .contact-info-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .contact-info-element {
    display: flex;
    gap: 2em;
    justify-content: space-between;
  }
}

@media (max-width: 1100px) {
  .header-nav {
    height: 6rem;
  }

  .navbar__content {
    font-size: var(--font-size-s);
  }

  .navbar__content-item {
    width: 10em;
    max-height: 6rem;
    min-height: 6rem;
    line-height: 6rem;
  }

  .logo-primary {
    margin-top: 5px;
  }

  .group-info-card {
    max-width: 40em;
  }
}

@media (max-width: 1023px) {
  .text-left-m {
    text-align: left;
  }
  .text-center-m {
    text-align: center;
  }
  .text-right-m {
    text-align: right;
  }

  .index-news-element {
    flex-direction: column; /* Switch all to column layout */
  }

  /* Ensure images and text in reversed items still follow the column layout */
  .index-news-element.row-reverse {
    flex-direction: column;
  }

  .content__section {
    max-width: 90%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 5em 0 0em 0;
    gap: 1em;
  }

  .exhibition-item {
    font-size: var(--font-size-l);
  }

  .index-hero-element p {
    margin: 0;
    padding: 1em;
  }
}

@media (max-width: 900px) {
  .header-nav {
    height: 12rem;
  }

  #hero-img {
    margin-top: 5rem;
  }

  .content__section-header {
    margin-top: 5rem;
  }

  .navbar__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    padding: 1px 0 0 0;
  }

  .navbar__content-item {
    max-height: 5rem;
    min-height: 5rem;
    line-height: 5rem;
}
  

  .navbar-links {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically in the center */
    width: 100%; /* Ensures the container takes up the full width */
    margin: auto;
    gap: 0;
  }


  .logo-primary {
    display: none;
  }

  .logo-secondary {
    display: block;
    margin: auto;
    padding: 1em 0em;
    height: 100%;
    width: auto;
  }
}

@media (max-width: 768px) {
.header-nav {
  height: 13.5rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Correct place for spacing control */
  margin: auto;
  width: 100%;
  gap: 0em; /* Correct place for gap */
}

.navbar__content-item {
  max-height: 5rem;
  min-height: 5rem;
  line-height: 5rem;
  width: 11em;
}



  .logo-primary {
    display: none;
  }


}

@media (max-width: 770px) {
  .content__section {
    width: 100%;
  }

  .content__section {
    max-width: 100%;
  }

  .content__section-90 {
    width: 100%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 7em 0 1em 0;
    gap: 1em;
  }

  .footer-map-container {
    width: 100%;
    padding-top: 0;
    height: auto;
    margin: 0 auto;
    padding-bottom: 12em;
  }

  .text-left-s {
    text-align: left;
  }
  .text-center-s {
    text-align: center;
  }
  .text-right-s {
    text-align: right;
  }

  .exhibition-item {
    font-size: var(--font-size-xl);
  }

  .exhibition-item > * {
    padding: 0em 2em 0em 2em;
  }

  .legal li {
    background-size: 5%;
    padding-left: 5em;
    margin-left: 1em;
  }

  .group-info-card {
    max-width: 50em;
  }
}

@media (max-width: 650px) {
  .index-practical-info-list {
    grid-template-columns: 1fr;
  }

  .index-practical-info-list li {
    list-style-type: none;
    background-image: url(/Assets/Photos/bullet-points/Planet.png);
    background-repeat: no-repeat;
    background-position-y: center;
    list-style-position: inside;
    line-height: 4em;
    padding-left: 10rem;
  }

  .index-hero-element p {
    padding: 0;
    font-size: var(--font-size-xs);
  }


}

@media (max-width: 500px) {
  .exhibition-gallery-wrapper {
    gap: 0em;
    padding: 3em 0em 0em 0em;
  }

  .button {
    width: 80%;
  }

  .info-card-section {
    gap: 2em;
  }

    .navbar__content-item {
  max-height: 5rem;
  min-height: 5rem;
  line-height: 5rem;
    width: fit-content;
}
}

@media (max-width: 400px) {
  .content__section {
    width: 100%;
  }

  .content__section-90 {
    width: 100%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 6em 0 1em 0;
    gap: 1em;
  }

  .text-left-s {
    text-align: left;
  }
  .text-center-s {
    text-align: center;
  }
  .text-right-s {
    text-align: right;
  }

  .content__section {
    max-width: 100%;
  }

  .exhibition-item {
    font-size: var(--font-size-l);
  }

  .exhibition-item > * {
    padding: 0em 1em 0em 1em;
  }
}

.content__section > p,
.content__section > h1,
.content__section > h2,
.content__section > h3,
.content__section > h4,
.content__section > li,
.content__section > ul {
  max-width: 90%;
  margin: auto;
}

p {
  max-width: 60em;
}
