/* A CSS comment */
@import url(reset.css);
@import url(variables.css);

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  text-align: left;
}


header {
  padding-top: 4em;
  padding-bottom: 3em;
}

.content__section-header {
  max-width: 70%;
  margin: auto;
}

.header-nav {
  background-color: var(--primary);
  height: 7rem;
  position: fixed;
  width: 100%;
}

.navbar__content {
  display: flex;
  max-width: 90%;
  margin: auto;
  gap: 2em;
  height: 7rem;
  line-height: 7rem;
  justify-content: center;
}

.navbar__content-item {
  background-color: var(--secondary-2);
  width: 11em;
  min-height: fit-content;
}

#logo {
  position: relative;
  margin-top: 0.5em;
  margin-left: -1em;
}

#hero-img {
  margin: auto;
}

.content__section {
  width: 80%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1800px;
}

.content__section-90 {
  width: 90%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 1800px;
}

.index-gallery {
  display: flex;
  flex-direction: column;
}

.index-gallery-element {
  display: flex;
}

.index-news {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.index-news-element {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 5rem;
}

.index-news-element-text {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.index-news-element-text h3 {
  padding: 1rem;
}

.index-news-element-text p {
  padding: 2.5rem;
  height: 100%;
}

.index-news-element-img {
  flex: 1;
  width: 100%;
  height: auto;
}

.exhibition-gallery-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 4em;
  justify-content: center;
  padding: 3em 0;
  text-align: center;
}

.exhibition-gallery-element {
  font-family: var(--font-play);
  font-size: var(--font-size-xxl);
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.exhibition-gallery-element-name {
  background-color: var(--secondary-dark);
  color: var(--white);
  padding: 0.7em 0em;
  border: 5px solid transparent;
}

.exhibition-gallery-element-name:hover {
  transition: all 1s ease-in-out;
  color: black;
}

.evo-gradient {
  border-image: linear-gradient(var(--white), var(--yellow)) 1 stretch;
}

.evo-glow:hover {
  box-shadow: 0 0 50px var(--yellow);
  background-image: linear-gradient(var(--white), var(--yellow));
}

.bio-gradient {
  border-image: linear-gradient(var(--secondary), var(--primary)) 1 stretch;
}

.bio-glow:hover {
  box-shadow: 0 0 50px var(--primary);
  background-image: linear-gradient(var(--secondary), var(--primary));
}

.ai-gradient {
  border-image: linear-gradient(var(--accent), var(--accent-darkest)) 1 stretch;
}

.ai-glow:hover {
  box-shadow: 0 0 50px var(--accent);
  background-image: linear-gradient(var(--accent), var(--accent-darkest));
}

.eco-gradient {
  border-image: linear-gradient(var(--yellow), var(--primary)) 1 stretch;
}

.eco-glow:hover {
  box-shadow: 0 0 50px var(--primary);
  background-image: linear-gradient(var(--yellow), var(--primary));
}

.cosmo-gradient {
  border-image: linear-gradient(var(--accent), var(--yellow)) 1 stretch;
}

.cosmo-glow:hover {
  box-shadow: 0 0 50px var(--accent);
  background-image: linear-gradient(var(--accent), var(--yellow));
}

.exhibition-gallery-element p {
  padding: 1em;
}

.index-practical-info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr;
  max-width: 600px;
  margin: 3em auto;
}

ul {
  padding: 0%;
}

.index-practical-info-list li {
  list-style-type: none;
  background-image: url(/Assets/Photos/bullet-points/Planet.png);
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 7rem;
  list-style-position: inside;
  line-height: 7rem;
}

.index-practical-info-list-part {
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
}

.button {
  min-height: 7rem;
  max-width: fit-content;
  min-width: 50rem;
  padding: 1rem 5rem;
  text-wrap: wrap;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-play);
  margin: 2em auto 1em auto;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px var(--white);
}

.cosmo-glow:hover {
  background-image: linear-gradient(var(--accent), var(--yellow));
}

footer {
  display: flex;
  flex-direction: column;
}

#footer-logo {
  position: absolute;
  margin: -5em auto 5em auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 3em 0;
}

.footer-hours-and-map {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows items to wrap if needed */
}

.opening-hours-background {
  display: flex;
  flex-direction: row;
  min-width: 300px; /* Minimum width before wrapping */
  max-width: 50px;
  gap: 4em;
  padding: 5em 70em 5em 5em;
  z-index: 0;
  position: relative;
  margin-right: -30%;

}

.opening-hours {
  min-width: 600px;
  display: flex;
  justify-content: space-between;
}

.opening-hours-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-map {
  display: flex;
  flex-direction: column;
  flex: 2;
  z-index: 1;
}

.footer-map-container {
  position: relative;
  width: 100%; /* Container width is 100% of the footer-map */
  padding-top: 56.25%; /* 16:9 Aspect Ratio - adjust if you want 5:3, use 60% */
  height: 0; /* Collapse the container's height */
  z-index: 1;
}

.footer-map-container iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%; /* Full width of the container */
  height: 80%; /* Height controlled by padding-top of the container */
}

.scroll-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header__exhibitions,
.exhibition-item {
  scroll-snap-align: start;
}

.exhibition-item {
  max-width: 30em;
  height: fit-content;
  margin: auto;
  font-size: var(--font-size-xl);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 60px;
}



.exhibition-item > * {
  padding: 0em 3em 0em 3em;
}

.exhibition-cosmology {
  background-image: url("/Assets/Photos/exhibitions/cos-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-cosmology {
  background: rgba(8, 6, 71, 0.7);
  color: var(--yellow);
}

.exhibition-evolution {
  background-image: url("/Assets/Photos/exhibitions/evo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-evolution {
  background: rgba(255, 252, 233, 0.70);
  color: var(--text);
}

.exhibition-ecology {
  background-image: url("/Assets/Photos/exhibitions/eco-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-ecology {
  background: rgba(239, 250, 193, 0.90);
  color: var(--text);
}

.exhibition-ai {
  background-image: url("/Assets/Photos/exhibitions/ai-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-ai {
  background: rgba(218, 221, 216, 0.90);
  color: var(--accent-darkest);
}

.exhibition-biology {
  background-image: url("/Assets/Photos/exhibitions/bio-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exhibition-item-biology {
  background: rgba(209, 208, 251, 0.90);
  color: var(--secondary-dark);
}


.info-card-section {
text-align: center;
font-family: var(--font-noto-sans);
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
gap: 5em;
align-items: stretch;
}

.info-card {

    flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis */
    min-width: 0; /* Prevents flex items from shrinking past content size */
    width: calc(100% / 3); /* Adjust the denominator based on the number of items per row you desire */
    max-width: 35em;
    min-width: 28em;
}

.info-card > * {
  padding: 1em 2em 1em 2em;
}
.info-card-title {
font-size: var(--font-size-xl);
border-radius: 0.8rem 0.8rem 0rem 0rem;
padding: 0.8em 2em 0.8em 2em;
}

.info-card-text {
font-size: var(--font-size-l);
border-radius: 0rem 0rem 0.8rem 0.8rem;
padding: 1em 2em 1em 2em;
min-height: 20em;
justify-content: space-evenly;
display: flex;
flex-direction: column;
}













/* Utilities */
/* Font Family */
.ff-noto-sans {
  font-family: var(--font-noto-sans);
}
.ff-play {
  font-family: var(--font-play);
  font-weight: var(--font-weight-normal);
}
.ff-revalia {
  font-family: var(--font-revalia);
}

/* Font Weight */
.fw-normal {
  font-weight: var(--font-weight-normal);
}
.fw-bold {
  font-weight: var(--font-weight-bold);
}

/* Font Size */
.fs-xs {
  font-size: var(--font-size-xs);
}
.fs-s {
  font-size: var(--font-size-s);
}
.fs-base {
  font-size: var(--font-size-base);
}
.fs-l {
  font-size: var(--font-size-l);
}
.fs-xl {
  font-size: var(--font-size-xl);
}
.fs-xxl {
  font-size: var(--font-size-xxl);
}

/* Text-alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.row-reverse {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

/* Colours */
/* Primary Colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-primary-2 {
  background-color: var(--primary-2);
}
.bg-primary-3 {
  background-color: var(--primary-3);
}
.bg-primary-4 {
  background-color: var(--primary-4);
}
.bg-primary-5 {
  background-color: var(--primary-5);
}

/* Secondary Colors */
.bg-secondary {
  background-color: var(--secondary);
}
.bg-secondary-2 {
  background-color: var(--secondary-2);
}
.bg-secondary-3 {
  background-color: var(--secondary-3);
}
.bg-secondary-4 {
  background-color: var(--secondary-4);
}
.bg-secondary-dark {
  background-color: var(--secondary-dark);
}

/* Accent Colors */
.bg-accent {
  background-color: var(--accent);
}
.bg-accent-darker {
  background-color: var(--accent-darker);
}
.bg-accent-darkest {
  background-color: var(--accent-darkest);
}

/* Background */
.bg-background {
  background-color: var(--background);
}
.bg-background-darker {
  background-color: var(--background-darker);
}
.bg-hero {
  background-color: var(--hero-page);
}

/* Additional Colors */
.bg-white {
  background-color: var(--white);
}
.bg-silver {
  background-color: var(--silver);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-text {
  background-color: var(--text);
}

.clr-white {
  color: var(--white);
}

.center {
  margin: auto;
}

.padding-top-bottom-1em {
  padding: 1em 0;
}

.padding-top-bottom-2em {
  padding: 2em 0;
}

.padding-bottom-1em {
  padding-bottom: 1em;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.pre-line {
  white-space: pre-line;
}


/* Further adjustments for smaller medium screens */
@media (max-width: 1600px) {
  .opening-hours-background {
    display: flex;
    padding-top: 3em;
    margin-right: -22em;
    padding-right: 55em;
  }

  .opening-hours-item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .footer-map-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio - adjust if you want 5:3, use 60% */
    height: 0; /* Collapse the container's height */
  }
}





/* Further adjustments for smaller medium screens */
@media (max-width: 1350px) {


  .opening-hours-background {
    display: flex;
    flex-direction: row;
    margin: auto;
    min-width: none;
    padding: 0 0 0 0;

  }

  .opening-hours {
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: auto;
    gap: 5em;
    min-width: min-content;
    padding: 5em 5em 5em 5em;
}

  .opening-hours-item {
    display: flex;
    flex-direction: column;
  }

  .footer-hours-and-map {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-2);
    flex-direction: column;
  }

  .footer-map h3 {
    text-align: center;
  }

  .footer-map-container {
    width: 100%;
    padding-top: 0;
    height: auto;
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 2em;
  }

  .footer-map-container iframe {
    position: static;
    width: 100%;
    height: auto;
    min-height: 300px;
    border: 0;
  }
}

/* Responsive classes for small screens and up */
/* Responsive classes for tablet-ish screens */
@media (max-width: 1023px) {
  .text-left-m {
    text-align: left;
  }
  .text-center-m {
    text-align: center;
  }
  .text-right-m {
    text-align: right;
  }

  .index-news-element {
    flex-direction: column; /* Switch all to column layout */
  }

  /* Ensure images and text in reversed items still follow the column layout */
  .index-news-element.row-reverse {
    flex-direction: column;
  }

  .content__section {
    max-width: 90%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 3em 0 0em 0;
    gap: 1em;
  }


  .exhibition-item {
    font-size: var(--font-size-l);
  }

}

@media (max-width: 770px) {
  .content__section {
    width: 100%;
  }

  .content__section-90 {
    width: 100%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 5em 0 1em 0;
    gap: 1em;
  }

  .opening-hours-background,
  .footer-map-container {
    padding: 1em;
  }

  .opening-hours-item {
    font-size: var(--font-size-xl);
    align-content: space-between;
    padding-bottom: 2em;
  }

  .text-left-s {
    text-align: left;
  }
  .text-center-s {
    text-align: center;
  }
  .text-right-s {
    text-align: right;
  }

  .content__section {
    max-width: 100%;
  }

  .exhibition-item {
    font-size: var(--font-size-xl);
  }

  .exhibition-item > * {
    padding: 0em 2em 0em 2em;
  }
}

@media (max-width: 650px) {
  .index-practical-info-list {
    grid-template-columns: 1fr;
  }

  .index-practical-info-list li {
    list-style-type: none;
    background-image: url(/Assets/Photos/bullet-points/Planet.png);
    background-repeat: no-repeat;
    background-position-y: center;
    list-style-position: inside;
    line-height: 4em;
    padding-left: 10rem;
  }
}

@media (max-width: 400px) {
  .content__section {
    width: 100%;
  }

  .content__section-90 {
    width: 100%;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 3em 0 1em 0;
    gap: 1em;
  }

  .opening-hours-background,
  .footer-map-container {
    padding: 1em;
  }

  .opening-hours-item {
    font-size: var(--font-size-l);
    align-content: space-between;
    padding-bottom: 2em;
  }

  .text-left-s {
    text-align: left;
  }
  .text-center-s {
    text-align: center;
  }
  .text-right-s {
    text-align: right;
  }

  .content__section {
    max-width: 100%;
  }

  .exhibition-item {
    font-size: var(--font-size-l);
  }

  .exhibition-item > * {
    padding: 0em 1em 0em 1em;
  }
}
