:root {
  /* Color styles */

    /* Primary */
  --primary: #b4f034;
  --primary-2: #d8f792;
  --primary-3: #e5fab8;
  --primary-4: #effac1;


   /* Secondary */
  --secondary: #7a76f4;
  --secondary-2: #bab8f9;
  --secondary-3: #d1d0fb;
  --secondary-4: #E8E7FD;
  --secondary-dark: #080647;

    /* Accent */
  --accent: #f147ea;
  --accent-darker: #a60ca1;
  --accent-darkest: #770973;

    /* Text, background, etc */

  --text: #0f1301;

  --background: #fffce9;
  --background-darker: #f3f0dd;
  --hero-page: #e6d6b5;

  --white: #ffffff;
  --yellow: #ffdd00;


  /* Text styles */

    /* Font Families */
  --font-noto-sans: "Noto Sans", sans-serif;
  --font-play: "Play", sans-serif;
  --font-revalia: "Revalia", sans-serif;

    /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;



   /* Font Sizes Regular Screen Size. Will be 2 numbers smaller for mobile*/
  --font-size-xs: 1.4rem; /* 14px */
  --font-size-s: 1.6rem; /* 16px */
  --font-size-base: 1.8rem; /* 18px */
  --font-size-l: 2rem; /* 20px */
  --font-size-xl: 2.4rem; /* 24px */
  --font-size-xxl: 3.2rem; /* 32px */
}


  html {
    font-size: 62.5%; /* Sets the base size to 10px, making 1rem = 10px */
}

  @media (max-width: 768px) {
    html {
      font-size: 43.75%; /* Scales down so 1rem = 7px, making the calculation basis smaller */
    }
  }